html, body {
  margin: 0;
  padding: 0;
  background: black;
  overflow: hidden;
}

canvas {
  display: block;
}

#title {
  display: flex;
  color: white;
  font-size: 3rem;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  height: 20vh;
}

#main-container {
  display: flex;
  width: 100vw;
  height: 80vh;
  align-items: start;
  justify-content: center;
}

#p5-container {
  width: 90%;
  height: 90%;
  border: 8px solid grey;
}
