body {
  background: black;
  color: white;
  touch-action: manipulation;
}

.slider-container {
    display: flex;
    justify-content: center;
    padding-top: 40vh;
}

.input-range {
  -webkit-appearance: none;
  appearance: none;
  width: 80vh;
  height: 40px;
  transform: rotate(270deg);
  background: #d3d3d3;
  outline: none;
}

.input-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 42px;
  height: 42px;
  background: rgb(143, 109, 175);
}

#slider-value {
  display: flex;
  justify-content: center;
}